<footer class="w3-bottom w3-container w3-pale-red w3-padding-small">
  <div class="w3-margin-bottom w3-clear">
    <div class="w3-col l10 m10 s10">
      <div class="w3-padding-small">
        <input class="w3-input w3-border-0 w3-round-small" [formControl]="inputBox">
      </div>
    </div>
    <div class="w3-col l2 m2 s2">
      <div class="w3-padding-small">
        <button (click)="submit()" class="w3-button w3-sand w3-padding-small w3-block w3-round-small w3-border-0 w3-text-gray w3-hover-shadow w3-hover-sand w3-hover-text-gray">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </div>
</footer>
